<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Posts</h1>
    <% for(let post of posts){ %>
    <div class="info">
        <h3 class="user">@<%= post.username %></h3>
        <h3 class="content"><%= post.content %></h3>
        <a href="http://localhost:8080/posts/<%= post.id %>">Details</a>
        <a class="edit" href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>

        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button>delete</button>
        </form>
    </div> 
   
    <% } %>
    <a class="create" href="http://localhost:8080/posts/new">Create new post</a>
</body>
</html>